/* header.cst-appbar{
    background: #ffffff;
} */
a, h4{
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-decoration: none;
}
.cst-main-header{
    background: #fff;
}
.cst-main-header #navbarNav{
    justify-content: center;
}
.header-ul li{
    margin: 0 8px;
}
.header-ul li a{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding: 35px 15px;
    text-transform: uppercase;
}
.header-ul li .nav-link:hover{
    color: #ffb606;
    transition: all 0.5s ease;
}
.header-ul li .nav-link.active{
    color: #ffb606;
}
.profile-drop .fa-circle-user{
    color: #666;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
}
/* .profile-drop:hover{
    background: #ffb6546e;   
    border-radius: 50px;
} */
.cst-profile-menu li a{
    padding: 8px;
}
.cst-profile-menu li a:hover{
    background: #ffebbbf2;
    transition: all 0.6s ease;
}
.contact-nav{
    padding: 12px;
    background: #002147 none repeat;
}
.nav-info-box ul li{
    color: #fff;
    margin-right: 10px;
    padding-right: 15px;
}
.nav-info-box ul{
    display: flex;
    list-style: none;
}
.nav-a{
    background: #ffb606 none repeat scroll 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #002147;
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
    padding: 8px 25px;
    text-decoration: none;
}
.cst-main-header.fix-header{
    position: fixed;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
}
.fix-header .header-ul li a{
    padding: 22px 15px;
}
.banner-cover{
    background-image: url(https://validthemes.net/site-template/examin/assets/img/banner/11.jpg);
    position: relative;
    overflow: hidden;
    min-height: 70vh;
    opacity: 0.5;
}
.bg-fixed {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.banner-text{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-top: -8px;
    color: #fff;
}
.banner-content{
    padding: 200px 0;
}
form.bannerForm {
    position: relative;
    width: 50%;
    text-align: center;
}
.bannerForm .form-control {
    border: medium none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: inherit;
    min-height: 60px;
    padding: 15px 30px;
}
.bannerForm button{
    background: #ffb606 none repeat scroll 0 0;
    border: medium none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    height: 50px;
    margin: 0 !important;
    padding: 0 30px;
    position: absolute;
    right: 5px;
    text-transform: capitalize;
    top: 5px;
}
.category-card {
    min-height: 180px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
}
.category-card .content{
    padding: 24px;
    display: block;
    text-decoration: none;
    text-align: center;
}
.category-card .content i{
    margin: auto auto 15px;
    color: #ffffff;
    font-size: 50px;
    display: block;
}
.category-card .content span{
    font-size: 32px;
    color: #fff;
}
.box-blue{
    background: #307ad5 none repeat scroll 0 0;
}
.box-skyblue{
    background: #1ec1d9 none repeat scroll 0 0;
}
.box-green{
    background: #10c45c none repeat scroll 0 0;
}
.box-pink{
    background: #e948ae none repeat scroll 0 0;
}
.box-yellow{
    background: #f9bd44 none repeat scroll 0 0;
}
.box-greenlite{
    background: #47c58e none repeat scroll 0 0;
}
.drkblu-bg{
    background: #002147 none repeat scroll 0 0;
}
.trend-sidebar .h4{
    background: #002147 none repeat scroll 0 0;
    padding: 19px 30px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0;
}
.trending-quiz-items{
    background: #ffffff none repeat scroll 0 0;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    padding: 30px;

}
.trend-sidebar .trend-item{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.trend-item .thumb{
    height: 95px;
    width: 95px;
    margin-right: 12px;
}
.trend-item h4{
    line-height: 1.4;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
}
.trend-item h4 a{
    color: #002147;
    text-decoration: none;
}
.trend-item h4 a:hover{
    color: #ffb606;
}

.rating i{
    font-size: 22px;
    color: #ffb606;
    letter-spacing: 5px;
}
.trend-item .owner{
    color: #666666;
    font-family: "Poppins",sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
.trending-quiz-items a{
    color: #002147;
}
.trending-quiz-items a:hover{
    color: #ffb606;
}
.all-quiz a{
    font-size: 22px;
}
.courses-counter{
    background-image: url(https://validthemes.net/site-template/examin/assets/img/banner/1.jpg);
    min-height: 70vh;
}
.bg-fixed {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.shadow {
    position: relative;
    z-index: 1;
}
.counter-block{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #002147cc none repeat scroll 0 0;
    min-height: 70vh;
}
.counter-block{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}
.count-fact {
    border: 1px solid rgba(255, 255, 255, 0.2);
    -moz-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    padding: 30px 20px;
    text-align: center;
}
.count-fact .count-icon i {
    color: #ffb606;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.count-info .timer{
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.2;
    display: block;
}
.count-tag{
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
}
.join-info h2{
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: #fff;
    font-size: 2.3rem;
}
.join-info p{
    color: #fff;
    line-height: 35px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
}
.my-btn{
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    letter-spacing: 1px;
    border-radius: inherit;
    overflow: hidden;
}
.btn-md {
    padding: 18px 55px 14px;
}
.my-btn.btn-light {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #ffffff;
    color: #002147;
}
.btn-light:hover{
    background-color: #ffb606;
    color: #ffffff !important;
    border: 2px solid #ffb606;
}
.news-latest {
    padding-top: 120px;
    padding-bottom: 80px;
}
.site-heading h2 {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    color: #002147;
}
.site-heading h2::before {
    background: #ffb606 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    width: 40px;
    z-index: 1;
}
.site-heading h2::after {
    background: #ffb606 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: 5px;
    position: absolute;
    width: 40px;
}
.news-head p{
    color: #666666;
    line-height: 26px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
}
.site-heading {
    margin-bottom: 60px;
    margin-top: -5px;
    overflow: hidden;
}
a, a:active, a:focus, a:hover {
    outline: none;
    text-decoration: none;
    color: #002147;
}
.news h4 {
    font-size: 26px;
    margin-bottom: 18px;
}
.news h4 a:hover{
    color: #ffb606;
}
.news p{
    color: #666666;
    line-height: 28px;
    margin: 0 0 15px;
    text-transform: none;
    font-size: 17px;
    letter-spacing: 1px;
}
.news-more{
    font-weight: 600;
    text-transform: uppercase;
    color: #666666;
    font-size: 20px;
}
.news-meta{
    border-top: 1px solid #e7e7e7;
    margin-top: 15px;
    padding-top: 15px;
}
.news-meta .author a{
    font-size: 20px;
}
.news-meta .author a:hover{
    color: #ffb606;
}
.contact-item{
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    padding: 50px 30px;
    text-align: center;
    background: #ffffff none repeat scroll 0 0;
}
.contact-item .cont-icon i{
    color: #ffb606;
    display: block;
    font-size: 70px;
    text-align: center;
}
.cont-info h4{
    color: #002147;
    margin-bottom: 12px;
}
.cont-info span{
    color: #999;
    font-size: 18px;
    font-weight: 200;
}
.contact-us {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f9f9f9;
}
.seprator{
    border-bottom: 1px solid rgba(20, 23, 28, 0.1);
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.contact-form input, textarea {
    margin-bottom: 1rem;
    padding: 12px 15px;
    border-radius: 0;
}
.contact-form button{
    background: #002147 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-top: 8px;
}
.sdf{
    font-size: 32px;
    margin-bottom: 12px;
    color: #002147;
    line-height: 1.2;
}
.modern-footer{
    padding-top: 120px;
    padding-bottom: 120px;
}
.foot-logo p{
    line-height: 28px;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: 100;
    color: #ccc;
    font-size: 20px;
}
.foot-social {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    padding-top: 20px;
}
.foot-social ul{
    list-style: none;
    padding-left: 0;
}
.foot-social ul li{
    display: inline-block;
}
.foot-social ul li a{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin-right: 12px;
    text-align: center;
    width: 45px;
    font-weight: 500;
    color: #fff;
}
.foot-social ul li a:hover{
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
}
.foot-h4{
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    color: #fff;
}
.foot-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.foot-links ul li{
    display: block;
    margin-bottom: 15px;
}
.foot-links ul li a{
    color: #cccccc;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    text-transform: capitalize;
    font-family: "Open Sans",sans-serif;
}
.foot-links ul li a::before{
    background: #cccccc none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 6px;
}
.foot-links ul li a:hover{
    color: #ffb606;
}
.foot-reach p{
    color: #ccc;
    font-size: 20px;
}
.foot-reach p i{
    font-size: 35px;
}
.subs p{
    font-size: 16px;
}
form.subssend {
    display: inline-flex;
    position: relative;
    width: 100%;
}
.subssend input{
    width: 100%;
    padding: 14px 28px;
    background: #bfbfbf;
    border: 1px solid #bfbfbf;
    color: #fff;
    border-radius: 0;
}
.subssend button{
    position: absolute;
    right: 0;
    background: #ffb606;
    padding: 14px 20px;
    border: 1px solid #ffb606;
    top: 0;
}
.small-footer {
    background: #03173d none repeat scroll 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 20px 0;
}
.small-footer p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}
.small-footer p a{
    color: #ffb606;
    font-size: 18px;
}
.home-banner{
    background-image: url(https://validthemes.net/site-template/examin/assets/img/banner/11.jpg);
    min-height: 70vh;
}
.home-banner  .overlay{
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0021477d none repeat scroll 0 0;
    min-height: 70vh;
}
/* --------------login page styling---------- */
.login-form{
    background-image: url(https://images.unsplash.com/photo-1571397872194-0ad8fbafe058?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 100vh;
}
.form-block{
    padding: 25px 50px;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
}
.head-login h3{
    color: #002147;
}
.head-login p{
    color: #002147;
    font-size: 18px;
}
.pass-eye{
    position: absolute;
    right: 8px;
    top: 50px;
    cursor: pointer;
}
.login-btn button{
    width: 100%;
    border: none;
    padding: 10px;
    color: #002147;
    background: #ffb606;
    transition: background-color 0.5s ease;
}
.login-btn button:hover{
    background: #ebcd86;
}
.form-block .mb-3 input{
    padding: 12px;
    border-radius: 0;
    background: #fbfbfb;
}
.login-form .overlay{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0021477d none repeat scroll 0 0;
    min-height: 100vh;
}
/* --------------login page styling---------- */